<input type="number" name="age" [(ngModel)]="age" [ngClass]="inputClass" />

<p>{{ message }}</p>

<p>Name is</p>
{{ name }}
{{ email }}

<select (change)="onSelectUser($event)">
  <option value="1">Aniket</option>
  <option value="2">Sourabh</option>
  <option value="3">Ankit</option>
  <option value="4">Sonu</option>
  <option value="5">Krishna Di</option>
</select>

<!-- Add user form -->
<form [formGroup]="userFormGroup">
  <input placeholder="ENter user name here" formControlName="name" />

  <small
    class="errorClass"
    *ngIf="this.userFormGroup.get('name')?.hasError('required')"
  >
    Name is required</small
  >

  <small
    class="errorClass"
    *ngIf="this.userFormGroup.get('name')?.hasError('minlength')"
  >
    Minimun length of name should be 5</small
  >

  <!-- <small *ngIf="userFormGroup.get('id')?.getError?.required"></small> -->

  <input placeholder="ENter user id here" formControlName="id" />

  <small
    class="errorClass"
    *ngIf="this.userFormGroup.get('id')?.hasError('required')"
  >
    Id is required</small
  >
</form>

<button (click)="onAddUser()">Add User</button>

<button (click)="onFetchUserList()">Fetch User List</button>

<ul>
  <li *ngFor="let user of userListData">{{ user.id }} - {{ user.name }}</li>
</ul>

<p *ngIf="userListData.length === 0">No user found</p>

<input value="TEST VALUE" id="23" #inputEleRef />

<button (click)="printLog()">Print In Log</button>

<button (click)="openTestModal(testModal)">Open Modal</button>
<button (click)="openTestModalComponent()">Open Modal Component</button>

<!-- Modal code starts -->

<ng-template #testModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="dateOfBirth">Date of birth</label>
        <div class="input-group">
          <input
            id="dateOfBirth"
            class="form-control"
            placeholder="yyyy-mm-dd"
            name="dp"
            ngbDatepicker
            #dp="ngbDatepicker"
          />
          <button
            class="btn btn-outline-secondary calendar"
            (click)="dp.toggle()"
            type="button"
          ></button>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Save
    </button>
  </div>
</ng-template>
